

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Parcial Molinari</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="bienvenidos" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a (click)="cerrar()" class="nav-link">Cerrar sesion</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="busqueda-peliculas" class="nav-link">Búsqueda de Peliculas</a>
      </li> -->
      <li class="nav-item" >
        <a routerLink="alta" class="nav-link">Alta Repartidor</a>
      </li>
      <li class="nav-item" >
        <a routerLink="busqueda-repartidor" class="nav-link">Busqueda Repartidores</a>
      </li>
    </div>
  </nav>

<router-outlet></router-outlet>
